.form-control {
    display: block;
    width: 100%;
    padding: 10px;
    border-radius: 3px;
    box-shadow: none;
    border:1px solid #EEE;
    margin-bottom: 10px;
}
.col {
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}
.btn {
    width: 100%;
    display: block;
    padding: 10px;
    background-color: #fff;
    border-radius: 3px;
    border:1px solid #CCC;
    cursor: pointer;
}
.btn:hover {
    background-color: #DDD;
}
.err-txt {
    color: #FF0DD1;
}