.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-menu {
  display: block;
  width: 100%;
  margin: 0 0 20px 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid #EEE;
  background-color: #222;
  overflow: hidden;
}
.App-menu li {
    float: left;
    list-style: none;
    margin-left: 10px;
    margin-right: 10px;
}
.App-menu li a {
    color: #FFF;
}
.App-menu-active {
  text-decoration: none;
  font-weight: bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
